@import "@flaticon/flaticon-uicons/css/all/all";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", serif;
    font-weight: 400;
    color: rgb(8,43,61);
}

.placeholder-transition {
  position: absolute;
  transition: opacity 0.3s ease;
}

.placeholder-transition:enter {
  opacity: 0;
}
.placeholder-transition:leave {
  opacity: 1;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-15px);
  }
}
.trapezoid {
	border-bottom: 40px solid rgb(159, 194, 203);
	border-left: 6vw solid transparent;
	border-right: 6vw solid transparent;
}

@media screen and (min-width: 768px) {
  .trapezoid {
    border-bottom: 50px solid rgb(159, 194, 203);
    border-left: 4vw solid transparent;
    border-right: 4vw solid transparent;
  }
}

@media screen and (min-width: 1024px) {
  .trapezoid {
    border-bottom: 70px solid rgb(159, 194, 203);
    border-left: 4vw solid transparent;
    border-right: 4vw solid transparent;
  }
}

textarea {
  resize: none;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
 	opacity: 0.55; 
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

.dancingScript {
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  font-style: normal;
}

.custom-slider-range {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  background: rgb(8,43,61);
  outline: none;
  transition: opacity 0.4s;
  border-radius: 15px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(8,43,61);
  border-radius: 50%;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  accent-color: rgb(8,43,61);
}

.gradient-border-btn {
  border: 2px solid transparent;
  background: 
    linear-gradient(white, white) padding-box,               /* inner background */
    linear-gradient(to right, #f8b52c, #fd5478) border-box; /* border */
}

.gradient-border {
  border: 4px solid transparent;
  border-radius: 15px;
  background: 
    linear-gradient(white, white) padding-box,               /* inner background */
    linear-gradient(to right, #f8b52c, #fd5478) border-box; /* border */
}

